body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header, .footer {
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.container-row {
    display: flex;
}

.container-col {
    display: flex;
    flex-direction: column;
}

.button {
    font-size: 16px;
    font-weight: 700;
    padding: 8px 32px;
    background-color: #3882F6;
    color: #F9FAF8;
    flex: none;
}

.button:hover {
    cursor: pointer;
}

/* .link {
    ;
} */

.padding {
    padding: 0 15%;
}

.margin {
    margin: 0 15%;
}

.between-center {
    justify-content: space-between;
    align-items: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.bold-font {
    font-weight: 800;
}

.gap {
    gap: 48px 5%;
}

.text-center {
    text-align: center;
}

.section-text {
    margin-top: 16px;
    max-width: 300px;
}

.border {
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
}

.borderless {
    border-width: 0;
}

.image {
    display: block;
    margin: auto;
    width: 300px;
    border-color: #3882F6;
    border-width: 4px;
}

.wrap {
    flex-wrap: wrap;
}

.shrink-wrap {
    flex: 1 1 0;
}

.shrunk-width {
    min-width: 200px;
}

#logo {
    font-size: 36px;
}

#main {
    padding-top: 72px;
    padding-bottom: 100px;
    background-color: #1F2937;
    color:#F9FAF8;
}

#main-container {
    max-width: 500px;
}

#main-text {
    font-size: 48px;
}

#secondary-text {
    margin-top: 8px;
    margin-bottom: 16px;
}

#section-header {
    font-size: 36px;
    color: #1F2937;
    margin: 48px 0;
    text-align: center;
}

#quote-container {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #E5E7EB;
}

#quote-main {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    align-self: center;
}

#quote-secondary {
    color:#1F2937;
    font-size: 24px;
    align-self: flex-end;
}

#end-section {
    gap: 24px;
    margin-top: 72px;
    margin-bottom: 72px;
    background-color: #3882F6;
    padding: 36px 8%;
    border-width: 0;
}

#end-main {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 1000;
    margin-bottom: 4px;
}

#end-secondary {
    color: #F9FAF8;
}

#images {
    margin-bottom: 72px;
    flex-wrap: wrap;
}

#main-img {
    max-height: 300px;
    min-width: 200px;
    border-width: 4px;
    border-color: #3882F6;
}

#crossed {
    text-decoration: line-through;
}

#image-cont {
    justify-content: end;
}

#gap-small {
    gap: 24px;
}